nav.navbar.navbar-expand-lg.navbar-light.bg-light
  div.container
    a.navbar-brand(href="./index.pug")
      img.Logo(src="./logo.svg")

    div.collapse.navbar-collapse
      ul.navbar-nav.mr-auto

      ul.navbar-nav
        strong
          a(href="tel:480-999-9286") (480) 999-9286