$primary: #275ab5
$secondary: #4a4a4a
$grid-gutter-width: 35px
$burgandy: #a1373a

@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700|Roboto+Slab:400,700")

@import node_modules/bootstrap/scss/bootstrap.scss

@import ./components/NavCTA
@import ./components/panels
@import ./components/hero

.navbar
  background: none !important
  margin-bottom: 20px

  .phone
    font-size: 1.5em

body
  background: #efefef
  font-family: "Open Sans", sans-serif
  font-size: 16px

h1, h2, h3, h4, h5
  font-family: "Roboto Slab", serif
  font-weight: 400

.Logo
  width: 240px
  height: 80px
  object-fit: contain

  &--footer
    width: 150px

.Section
  padding-top: 40px
  padding-bottom: 40px
  font-size: 1.2em
  line-height: 2

  &--white
    background-color: white

  h2
    color: $primary
    margin-bottom: 30px

.Footer
  background-color: #333
  color: #ccc
  padding: 40px 0
  font-size: 1em

.Testimonial
  @media (min-width: 992px)
    padding: 40px 60px
    border-radius: 20px
    border: solid 1px #eee

  &__Quote
    color: #666
    font-size: 1.3em

  &__Attribution
    margin: 20px 0 0 0
