$primary: #275ab5
$secondary: #4a4a4a
$grid-gutter-width: 35px
$burgandy: #a1373a

@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700|Roboto+Slab:400,700")

@import node_modules/bootstrap/scss/bootstrap.scss

@import ./components/NavCTA
@import ./components/panels
@import ./components/hero

.navbar
  background: none !important
  margin-bottom: 20px

body
  background: #efefef
  font-family: "Open Sans", sans-serif
  font-size: 16px

h1, h2, h3, h4, h5
  font-family: "Roboto Slab", serif
  font-weight: 400

.Logo---Burgandy
  width: 240px
  height: 80px
  object-fit: contain

.Section
  padding-top: 40px
  font-size: 1.2em
  line-height: 2

  h2
    color: $primary
    margin-bottom: 30px
