doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    title InFront Labs, LLC
    link(href="./app.sass" type="text/css" rel="stylesheet")
    link(rel="shortcut icon" type="image/x-icon" href="./favicon.ico")
    link(rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-j8y0ITrvFafF4EkV1mPW0BKm6dp3c+J9Fky22Man50Ofxo2wNe5pT1oZejDH9/Dt" crossorigin="anonymous")
  body
    
    include components/hero.pug

    div.Section
      .container

        .row
          .col-md-8
            h2 First, let's talk about who you are

            p You have big ideas but don't have the confidence (not yet anyway) to execute on that idea. 
              | You know where you're going but just not sure how to get there. You have a strong vision for success but
              | you need someone on your side to help navigate all the options available to you. You're likely being
              | inundated by a fire-hose of conflicting advice and just don't know how to make any sense out of it.

            p You are constrained by time. Your primary concern is getting your idea out into the world as quickly as 
              | possible but you don't know how to balance that priority with ensuring it's being built in a way that
              | can scale with the growth of your business.
          .col-md-4
            h3 Contact Us
            p P.O. Box 8385<br>Scottsdale, AZ 85257
            div 
              i.fa.fa-mobile-alt(style="opacity: .5")  &nbsp;&nbsp; 
              a(href="tel:480-999-9286") (480) 999-9286
              
            div
              i.fa.fa-at(style="opacity: .5")  &nbsp; 
              a(href="mailto:hello@infrontlabs.com") hello@infrontlabs.com

    div.Section.Section--highlighted
      .container
        h2 Now let's talk about who we are

        p We're a pretty new little firm, but we've already made an impact for clients. We aren't going to be everything to everyone, but we can handle quite a lot. We're small, but we're efficient and highly experienced in our field. Between the two partners alone there are 50 years of software development and technology experience.
        p Sometimes it just isn't meant to be and that's totally OK. We have referral partners who can handle the stuff we can't. Talk to us and no matter what we'll work to find you the right solution and the right providers for that solution.
        p Get in touch with us to tell us about your requirements and enquire whether our services are right for you.
          
    .Section
      .container
        a(name="services")
        h2 Services
        p
          strong Website Design and Development
        p At this point in human history, if you're in business, you know you need a website. It's right up there with other things you need, like electricity and water. Your customers expect an engaging and non-ugly experience on your website. Whether you have a vision for your website or not, we can make it happen AND make it look good in the process. We have options for just about any budget, so reach out to us. <em>We'll figure it out</em> or help you find a way.
        p
          strong Mobile App Development
        p Not everyone needs a mobile app for their business or project, but when you do need one, we have the people to do it and they have the skills to make it amazing.
        p Sometimes, a mobile app is overkill and the problem you're trying to solve with a mobile app may be better served (and more cost-effective) with a web app. If you're not sure which way to go, call us. We'll walk you through the pros and cons of each.



    .Section.Section--highlighted
      .container
        a(name="team")
        h2 The Team

        .row
          .col-md-2
            img.mb-4.rounded-circle(src="./andy.jpeg" alt="Andy Frey" style="margin: 0 auto; width: 120px;")
          .col-md-10
            h5.mt-0 Andy Frey <br><small>Partner / Sometimes Codes</small>
            
              a.ml-3(href="https://github.com/StuffAndyMakes" style="color: black;" title="Andy's Github" target="_blank")
                | <i class="fab fa-github"></i>
              a.ml-3(href="https://twitter.com/stuffandymakes" style="color: black;" title="Andy's Twitter" target="_blank")
                | <i class="fab fa-twitter"></i>
              a.ml-3(href="https://www.linkedin.com/in/stuffandymakes/" style="color: black;" title="Andy's LinkedIn" target="_blank")
                | <i class="fab fa-linkedin"></i>

            div
              p Andy has been working in the IT field for over 30 years. He has run the gamut from long-haul, outdoor fiber optic network design to enterprise software development to business development and management. This isn't Andy's first rodeo: He started a web development firm in the Detroit area way back in 1998 and sold it and the rights to a custom-built intranet content management system written in PHP.
              p In real life, Andy is a maker, DIY guy, and tinkerer in everything from woodworking to electronics to metalworking to home improvement. He chronicles his DIY adventures at his maker blog Stuff Andy Makes (<a href="https://StuffAndyMakes.com" target="_blank">https://StuffAndyMakes.com</a>). His biggest project to date, The Office Chairiot Mark II, an IKEA chair that goes 20 MPH, has its own website: <a href="https://OfficeChairiot.com" target="_blank">https://OfficeChairiot.com</a> (seriously, it can do 20 MPH, just not safely). 

        .row.mt-5
          .col-md-2
            img.mb-4.rounded-circle(src="./colyn.jpeg" alt="Colyn Brown"  style="margin: 0 auto; width: 120px;")
          .col-md-10
            h4.mt-0 Colyn Brown <br><small>Partner / Solutions Architect</small>
              a.ml-3(href="https://github.com/colynb" style="color: black;" title="Colyn's Github" target="_blank")
                | <i class="fab fa-github"></i>
              a.ml-3(href="https://www.linkedin.com/in/colyn/" style="color: black;" title="Colyn's LinkedIn" target="_blank")
                | <i class="fab fa-linkedin"></i>
            div
              p Colyn has been designing and developing web sites since 1997.
                | He's lived though the various tech trends and hype cycles;
                | he's seen it all. His focus as a developer has always been on
                | ensuring the best possible user experience and keeping things
                | as simple as possible. His means of production are Javascript
                | (vanilla, ReactJS, VueJS), NodeJS (ExpressJS), PHP (Laravel),
                | playing banjo, and CSS.
              

    .Section
      .container
        .Testimonial
          p.Testimonial__Quote
            em.large “
            em 
              | The InFront team has been great to work with. We have been working on multiple projects over the past year and they continue to bring great results in a timely and affordable way. When Colyn and Andy put their heads together, they always seem to come up with creative and impressive solutions.
          p.Testimonial__Attribution
            strong Chris Kinghorn <br>
            small DataStreet (Partner)

    //- .Section
    //-   .container
    //-     h2 Contact Us
    //-     p P.O. Box 8385, Scottsdale, AZ 85257
    //-     p
    //-       strong
    //-         a(href="tel:480-999-9286") (480) 999-9286
    //-     p
    //-       strong
    //-         a(href="mailto:hello@infrontlabs.com") hello@infrontlabs.com
    
    footer.Footer
      .container
        div(style="display: flex; align-items: center; margin-bottom: 20px;")
          a.mr-5(href="/")
            img.Logo--footer(src="./infront-logo2.svg")
          a(href="https://github.com/infrontlabs" style="color: white; font-size: 1.5em; display: flex; align-items: center;" title="Github" target="_blank")
            i.fab.fa-github
            small.ml-2(style="font-size: 12px;") open source stuff

        p
          |InFront Labs, LLC is a software development firm located in the Phoenix, AZ metro area. InFront specializes in the design and development of websites, mobile apps, and custom software applications.
