doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    title InFront Labs, LLC
    link(href="./app.sass" type="text/css" rel="stylesheet")
    
  body
    include components/hero.pug

    div.Section
      .container

        .row
          .col-md-8
            h2 We write software for the web, mobile devices, and other things.

            p We're a pretty new little firm, but we've already made an impact for clients. We aren't going to be everything to everyone, but we can handle quite a lot. We're small, but we're efficient and highly experienced in our field. Between the two partners alone there are 50 years of software development and technology experience.
            p Sometimes it just isn't meant to be and that's totally OK. We have referral partners who can handle the stuff we can't. Talk to us and no matter what we'll work to find you the right solution and the right providers for that solution.
            p Get in touch with us to tell us about your requirements, or use the contact form at the bottom of this page to enquire whether our services are right for you.
          .col-md-4
            div
              h3 Contact Us
              p P.O. Box 8385, Scottsdale, AZ 85257
              p
                strong
                  a(href="tel:480-999-9286") (480) 999-9286
              p
                strong
                  a(href="mailto:hello@infrontlabs.com") hello@infrontlabs.com
    .Section.Section--white
      .container
        h2 Services
        p
          strong Website Design and Development
        p At this point in human history, if you're in business, you know you need a website. It's right up there with other things you need, like electricity and water. Your customers expect an engaging and non-ugly experience on your website. Whether you have a vision for your website or not, we can make it happen AND make it look good in the process. We have options for just about any budget, so reach out to us. <em>We'll figure it out</em> or help you find a way.
        p
          strong Mobile App Development
        p Not everyone needs a mobile app for their business or project, but then you do need one, we have the people to do it and they have the skills to make it amazing.
        p Sometimes, a mobile app is overkill and the problem you're trying to solve with a mobile app may be better served (and more cost-effective) with a web app. If you're not sure which way to go, call us. We'll walk you through the pros and cons of each.



    .Section
      .container
        h2 The Team
        p
          strong Andy Frey (Partner / Sometimes Codes)
        p Andy has been working in the IT field for over 30 years. He has run the gamut from long-haul, outdoor fiber optic network design to enterprise software development to business development and management. This isn't Andy's first rodeo: He started a web development firm in the Detroit area way back in 1998 and sold it and the rights to a custom-built intranet content management system written in PHP. 
        p In real life, Andy is a maker, DIY guy, and tinkerer in everything from woodworking to electronics to metalworking to home improvement. He chronicles his DIY adventures at his maker blog Stuff Andy Makes (https://StuffAndyMakes.com). His biggest project to date, The Office Chairiot Mark II, an IKEA chair that goes 20 MPH, has its own website: https://OfficeChairiot.com (seriously, it can do 20 MPH, just not safely).



        p
          strong Colyn Brown (Partner / Solutions Architect)
        p A father, a husband, and designing and developing web sites since 1995. As an avid user and consumer of the web, his focus as a developer has always been on ensuring the best possible user experience and keeping things as simple as possible. Engineering is a means to an end. His means of production are Javascript (vanilla, ReactJS, VueJS), NodeJS (ExpressJS), PHP (Laravel), playing banjo, and CSS. <em>Step 3: you profit.</em>
    
    .Section.Section--white
      .container
        h2 Contact Us
        p P.O. Box 8385, Scottsdale, AZ 85257
        p
          strong
            a(href="tel:480-999-9286") (480) 999-9286
        p
          strong
            a(href="mailto:hello@infrontlabs.com") hello@infrontlabs.com
    
    footer.Footer
      .container
        a(href="./index.pug")
          img.Logo--footer(src="./logo.svg")

        p
          |InFront Labs, LLC is a software development firm located in the Phoenix, AZ metro area. InFront specializes in the design and development of websites, mobile apps, and custom software applications.