doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    title InFront Labs, LLC
    link(href="./app.sass" type="text/css" rel="stylesheet")
    
  body
    include components/hero.pug

    div.Section
      .container

        .row
          .col-md-8
            h2 We write software for the web, mobile devices, and other things.

            p We're a pretty new little firm, but we've already made an impact for clients. We aren't going to be everything to everyone, but we can handle quite a lot. We're small, but we're efficient and highly experienced in our field. Between the three partners alone there are 70 years of software development and technology experience.
            p Sometimes it just isn't meant to be and that's totally OK. We have referral partners who can handle the stuff we can't. Talk to us and no matter what we'll work to find you the right solution and the right providers for that solution.
            p Get in touch with us to tell us about your requirements, or use the contact form at the bottom of this page to enquire whether our services are right for you.
          .col-md-4
            div
              h3 Contact Us
              p P.O. Box 8385, Scottsdale, AZ 85257
              p
                strong
                  a(href="tel:480-999-9286") (480) 999-9286
              p
                strong
                  a(href="mailto:hello@infrontlabs.com") hello@infrontlabs.com